html, body{
	height:100%;
	width:100%;
}
body{
	padding:2%;
	padding-top:0;
	
	}
header{
	background-color: yellow
	position:fixed;
	top:0;
	left:0;
}

.text{
	text-align:center;
}

.container{
	background-color:#22B573;
	height:100%;
	width:100%;
	padding:2%;
}

li{
	display:inline-block;
	color:white;
	font-size:30px;

}
